:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body{
  overflow: hidden;
}

.die__disc{
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 20px solid #0B2434;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  margin: 100px auto;
  width: min(550px, 90%);
}
.die__container{
  display: grid;
  gap: 1.5em;
  grid-template: auto auto / repeat(5, 1fr);
  margin-bottom: 1.5em;
}
.die__face{
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    height: 55px;
    width: 55px;
    padding: .5em;
  
}
.die__instructions{
  text-align: center;
}
.die__num{
  font-size: 2rem;
}

.die__btn{
    background-color: #5035FF;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .7em 1.4em;
}
.die__btn:focus{
  outline: none;
}
.die__btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

 .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:black;
  /* position: absolute; */
}

.die__1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.die__2{
  display: flex ;
  justify-content: space-between;

  gap: 2em;
}

.die__2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

 .die__3{
  display: flex ;
  justify-content: space-around;

  gap: 1em;
}

.die__3 .dot:nth-of-type(1) {
  align-self :flex-end;
}

.die__3 .dot:nth-of-type(2) {
  align-self :center;
}


 .die__4 , .die__6,.die__5{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2em;
  row-gap: .5em;

} 
.die__5 .dot:nth-of-type(2){
transform: translateX(22px);
}

.die__4 .dot:nth-of-type(2){
  transform: translateY(-50px);
  transform: translateX(42px);
  margin-top: 1em;
  }
.die__4 .dot:nth-of-type(4){
    transform: translateX(-42px);
}

.die__board{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
  position: relative;
  bottom: 20px;
}

.die__besttime{
  position: relative;
  right: 200px;
 top: 80px;
}
.die__best-name{
  background-color: #59E391;
  padding: .5em;
  border-radius: 5px;
}

.die__count-timer{
  color:#000;
  position: relative;
  left: 200px;
  top: 80px;
  font-size: 1.2rem;

}
.die__best-time, .die__best-name{
  color: #000;
  font-weight: 700;
}